<%- provide :title, t('forms.users.new.title') -%>
<h1><%= t('forms.users.new.title') %></h1>

<%= render layout: 'form' do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :wrapped, cancel: root_path, value: t('forms.users.new.button') %>
<%- end -%>